/*头部 B*/
.head {
    width: 3.75rem;
    height: 0.44rem;
    background-color: #133c8b;
}
.head-arr {
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0 0 0.21rem;
    background: url("../images/icon-close.png") no-repeat;
    background-size: contain;
}
.head-info {
    margin: 0.11rem 0 0 0.82rem;
    width: 1.21rem;
    height: 0.18rem;
    font-size: 0.19rem;
    text-align: center;
    color: #ffffff;
}
/*头部 E*/

/*完成任务 B*/
.succee {
    background-color: #fff;
    margin-bottom: 0.09rem;
    width: 3.75rem;
}
.succee-commission-money {
    margin: 0.28rem 0 0 0.2rem;
}
.succee-commission-money-num {
    font-size: 0.36rem;
    font-weight: 500;
    color: #5a667c;
}
.succee-commission-money-num span {
    font-size: 0.18rem;
}
.succee-commission-money-info {
    font-size: 0.13rem;
    color: #adb8ce;
}
.succee-commission-icon{
    width: 0.82rem;
    height: 0.82rem;
    background: url("../images/succee2.png") no-repeat;
    background-size: contain;
    margin: 0.13rem 0.19rem 0 0;
}
.succee-other {
    margin: 0.12rem 0 0 0.2rem;
}
.succee-other li {
    float: left;
}
.succee-other li:nth-child(2) {
    margin-left: 0.2rem;
}
.succee-other li:nth-child(3) {
    margin-left: 0.25rem;
}
.succee-other li div:first-child {
    font-size: 0.19rem;
    font-weight: 500;
    color: #5a667c;
}
.succee-other li div span {
    font-size: 0.11rem;
}
.succee-other li div:last-child {
    font-size: 0.13rem;
    color: #adb8ce;
}
.line {
    width: 3.35rem;
    border-top: solid 0.5px #d0d5df;
    margin: 0.22rem 0 0 0.2rem;
}
.succee-date {
    margin: 0.15rem 0 0 0.2rem;
}
.succee-date-left {
    font-size: 0.16rem;
    color: #5a667c;
    margin-bottom: 0.15rem;
}
.succee-date-left span {
    color: #339df5;
}
.succee-date-right {
    margin-right: 0.21rem;
}
/*完成任务 E*/