/*头部 B*/
body {
    background-color: #eaedf2;
    font-size: 0.16rem;
}
.head {
    width: 3.75rem;
    height: 0.44rem;
    background-color: #133c8b;
}
.head-arr {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0 0 0.21rem;
    background: url("../images/icon-close.png") no-repeat;
    background-size: contain;
}
.head-arr a {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0 0 0.21rem;
}
.head-info {
    margin: 0.11rem 0 0 0.82rem;
    width: 1.21rem;
    height: 0.18rem;
    font-size: 0.19rem;
    text-align: center;
    color: #ffffff;
}
.head-alter a {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0.18rem 0 0;
    background: url("../images/icon-frame.png") no-repeat;
    background-size: contain;
    position: relative;
}
.head-home a {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0.18rem 0 0;
    background: url("../images/combined-shape.png") no-repeat;
    background-size: contain;
    position: relative;
}
.head-home i {
    position: absolute;
    width: 0.08rem;
    height: 0.08rem;
    background-color: #f13f1a;
    top: 0;
    left: 0.2rem;
    border-radius: 50%;
}
/*头部 E*/

/*佣金信息 B*/
.commission {
    width: 3.75rem;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0 0 #d0d5df;
}
.commission-expected-money {
    font-size: 0.36rem;
    font-weight: 500;
    color: #5a667c;
    padding: 0.19rem 0 0 0.2rem;
}
.commission-expected-money span {
    font-size: 0.18rem;
}
.commission-expected-info {
    margin: 0.02rem 0 0 0.2rem;
    font-size: 0.13rem;
    color: #adb8ce;
}
.commission-scale {
    margin: 0.16rem 0 0 0.2rem;
}
.commission-scale-num {
    font-size: 0.19rem;
    font-weight: 500;
    color: #5a667c;
}
.commission-scale-num span:last-child {
    margin-left: 0.64rem;
}
.commission-scale-num span i {
    font-size: 0.11rem;
}
.commission-scale-info {
    font-size: 0.13rem;
    color: #adb8ce;
}
.commission-scale-info span:last-child {
    margin-left: 0.2rem;
}
.commission-scale-line {
    width: 3.35rem;
    color: #d0d5df;
    border-top: solid 0.5px #d0d5df;
    margin-top: 0.223rem;
}
.commission-date {
    font-size: 0.16rem;
    color: #5a667c;
    margin: 0.158rem 0 0 0.2rem;
    padding-bottom: 0.1rem;
}
.commission-date span {
    font-size: 0.16rem;
    color: #339df5;
}
.commission-date-two-right {
    margin-right: 0.2rem;
    width: 0.73rem;
    height: 0.26rem;
    background: url("../images/btn-apply-unsel.png") no-repeat;
    background-size: contain;
    font-size: 0.16rem;
    color: #339df5;
    padding-left: 0.23rem;
}
.commission-date-three-right {
    margin-right: 0.2rem;
    color: #d0d5df;
}
/*佣金信息 E*/

/*基本信息 B*/
.basic {
    width: 3.75rem;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0 0 #d0d5df, 0 -0.5px 0 0 #d0d5df;
    margin-top: 0.08rem;
}
.basic-visit-top,.basic-info-top,.basic-explain-top,.basic-company-top {
    padding: 0.17rem 0 0 0.16rem;
}
.basic-top-left {
    font-size: 0.16rem;
    color: #5a667c;
}
.basic-top-right {
    width: 0.16rem;
    height: 0.16rem;
    background: url("../images/drop.png") no-repeat;
    background-size: contain;
    margin-right: 0.16rem;
    transition: all 1s;
    transform: rotate(180deg);
}
.basic-rotate {
    transition: all 1s;
    transform: rotate(0deg);
}
.basic-visit-bottom-record {
    margin: 0.08rem 0 0 0.31rem;
}
.basic-visit-bottom-record i {
    display: inline-block;
    width: 0.13rem;
    height: 0.13rem;
    background: url("../images/oval-4.png") no-repeat;
    background-size: contain;
}
.basic-visit-bottom-record li:last-child {
    margin-top: 0.08rem;
}
.basic-visit-bottom-record li div:first-child{
    font-size: 0.13rem;
    color: #adb8ce;
}
.basic-visit-bottom-record li div:last-child{
    font-size: 0.13rem;
    color: #5a667c;
    margin-left: 0.15rem;
    padding-right: 0.1rem;
}
.basic-visit-bottom-record li div span:last-child {
    margin-left: 0.17rem;
}
.basic-info-bottom {
    padding-left:0.28rem;
}
.basic-info-bottom-left span:first-child {
    font-size: 0.16rem;
    color: #adb8ce;
}
.basic-info-bottom-left li:first-child span:last-child {
    margin-left: 0.8rem;
}
.basic-info-bottom-left li:nth-child(2) span:last-child {
    margin-left: 0.64rem;
}
.basic-info-bottom-left li:nth-child(3) span:last-child {
    margin-left: 0.64rem;
}
.basic-info-bottom-left li:nth-child(4) span:last-child {
    margin-left: 0.32rem;
}
.basic-info-bottom-left li:nth-child(3) span:last-child i {
    color: #339df5;
}
.basic-info-bottom li {
    margin-top: 0.08rem;
}
.basic-explain-bottom {
    margin: 0.08rem 0 0 0.3rem;
}
.basic-explain-bottom h2 {
    font-size: 0.13rem;
    color: #adb8ce;
}
.basic-explain-bottom ul li {
    margin-top: 0.06rem;
    font-size: 0.16rem;
}
.basic-explain-bottom-left {
    color: #adb8ce;
}
.basic-explain-bottom-right {
    margin-left: 0.18rem;
    font-size: 0.16rem;
    color: #5a667c;
}
.basic-btn {
    border-top: solid 0.5px #d0d5df;
    margin-top: 0.12rem;
}
.basic-btn-left,.basic-btn-right{
    width: 1.46rem;
    height: 0.43rem;
    border-radius: 0.02rem;
    border: solid 1px #339df5;
    font-size: 0.17rem;
}
.basic-btn-left {
    background-color: #fff;
    color: #339df5;
    margin: 0.14rem 0 0.14rem 0.25rem;
}
.basic-btn-right {
    background-color: #339df5;
    color: #fff;
    margin: 0.14rem 0 0.14rem 0.3rem;
}
.basic-company-bottom ul li {
    margin-left: 0.8rem;
    margin-top: 0.1rem;
}
.basic-company-bottom ul li span:last-child {
    margin-left: 1.2rem;
}

/*借款信息*/
.borrow .basic-info-bottom li span:first-child {
    color: #adb8ce;
}

/*罚息信息*/
.interest .basic-info-bottom {
    margin-top: 0.1rem;
}

/*联系方式*/
.tel .basic-info-bottom {
    margin-left: 0.1rem;
}
.tel .basic-info-bottom ul li {
    float: left;
    font-size: 0.16rem;
}
.tel .basic-info-bottom ul li:first-child {
    color: #adb8ce;
}
.tel .basic-info-bottom ul li:last-child {
    width: 1.88rem;
    font-size: 0.16rem;
    color: #5a667c;
    margin-left: 0.6rem;
}
.tel .basic-info-bottom ul li div:nth-child(2) {
    margin-top: 0.08rem;
}
.tel .basic-info-bottom ul li:last-child div:last-child {
    font-size: 0.16rem;
    color: #339df5;
}
.tel .basic-info-bottom ul li:last-child div:last-child i {
    display: inline-block;
    width: 0.18rem;
    height: 0.15rem;
    background: url("../images/oval-2.png");
    background-size: contain;
}

/*单位/学校信息*/
.work .basic-info-bottom li span {
    color: #adb8ce;
}

/*月缴还记录*/
.month .basic-info-bottom li div:first-child {
    font-size: 0.13rem;
    color: #adb8ce;
}
.month .basic-info-bottom li div:last-child{
    font-size: 0.13rem;
    color: #5a667c;
    margin-left: 0.17rem;
}
.month .basic-info-bottom i {
    display: inline-block;
    width: 0.13rem;
    height: 0.13rem;
    background: url("../images/icon-clock-grown.png") no-repeat;
    background-size: contain;
}

/*联系人*/
.contact .basic-info-bottom ul {
    margin-top: 0.1rem;
}
.contact .basic-info-bottom li span:first-child {
    color: #adb8ce;
}
/*基本信息 E*/

/*公司详情页马上接单弹窗 B*/
.popup-yes-input {
    width: 2.83rem;
    padding: 0.2rem 0 0 0.25rem;
    line-height: 1.8;
}
.popup-yes-input h2 {
    margin-bottom: 0.1rem;
}
.popup-yes-info {
    width: 2.83rem;
    padding: 0.3rem 0.25rem;
    line-height: 1.8;
}
.popup-yes-input div {
    margin-bottom: 0.1rem;
}
.popup-yes-input input {
    border: 1px solid #cccccc;
    width: 2rem;
    height: 0.25rem;
    text-align: center;
    border-radius: 2px;
}
/*公司详情页马上接单弹窗 E*/

/*案子详情分配任务 B*/
.task-btn {
    width: 2.90rem;
    height: 0.43rem;
    border-radius: 2px;
    background-color: #339df5;
    margin: 0.2rem 0.425rem;
    color: #FFFFFF;
    font-size: 0.16rem;
}
/*案子详情分配任务 E*/