/*头部 B*/
.head {
    width: 3.75rem;
    height: 0.5rem;
    border-radius: 1px;
    background-color: #133c8b;
    box-shadow: 0 1px 0 0 #d0d5df;
}
.head-top {
    width: 3.75rem;
    height: 0.26rem;
    padding-top: 0.18rem;
}

.head-top-left {
    width: 0.24rem;
    height: 0.24rem;
    margin-left: 0.2rem;
    background: url("../images/icon-drawer.png") no-repeat;
    background-size: contain;
}
.head-top-center {
    margin-left: 1.25rem;
    font-size: 0.19rem;
    color: #ffffff;
}
.head-top-right {
    width: 0.28rem;
    height: 0.25rem;
    margin-right: 0.2rem;
    background: url("../images/combined-shape.png") no-repeat;
    background-size: contain;
    position: relative;
}
.head-top-right i {
    position: absolute;
    width: 0.08rem;
    height: 0.08rem;
    background-color: #f13f1a;
    top: -0.02rem;
    right: -0.02rem;
    border-radius: 50%;
}
/*头部 E*/


/*导航 B*/
.case-nav-list .hd {
    width: 3.45rem;
    height: .62rem;
    padding: 0 .15rem;
    background: #133c8b;
}
.case-nav-list .hd ul li {
    width: 33.33%;
    height: 0.62rem;
    line-height: 0.62rem;
    float: left;
    font-size: 0.15rem;
    text-align: center;
    position: relative;
}
.case-nav-list .hd ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.case-nav-list .hd ul li.on {
    font-size: 0.17rem;
    color: #fff;
}
.case-nav-list .hd ul li.on::after {
    display: block;
}
.case-nav-list .hd li::after {
    display: none;
    width: 0;
    height: 0;
    content: '';
    border: 0.06rem solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: -0.01rem;
    left: 0.5rem;
}
.case-nav-list .bd {
    overflow: hidden;
}
/*导航 E*/


/*佣金部分 B*/
.swiper-container {
    width: 3.75rem;
    overflow: hidden;
}
.case {
    width: 11.25rem;
    position: relative;
    top: 0;
    left: 0;
}

.case-begin-one,.case-begin-two {
    width: 3.75rem;
    background-color: #ffffff;
    padding-bottom: 0.2rem;
}
.case-top {
    font-size: 0.19rem;
    font-weight: 500;
    color: #5a667c;
    text-align: center;
}
.case-top-commission {
    margin: 0.23rem 0.11rem 0 0.16rem;
}
.case-top-scale {
    margin: 0.23rem 0.14rem 0 0.16rem;
}
.case-top-money {
    margin: 0.23rem 0 0 0.16rem;
}
.line {
    width: 1px;
    height: 0.272rem;
    margin-top: 0.284rem;
    background-color: #d0d5df;
}
.case-top span {
    font-size: 0.13rem;
    margin-left: 0.03rem;
}
.case-top .change-font {
    width: 0.88rem;
    height: 0.28rem;
    font-size: 0.13rem;
    margin-top: 0.05rem;
    color: #adb8ce;
}


.case-center-borrowerName {
    margin-left: 0.16rem;
    font-size: 0.16rem;
    text-align: center;
    color: #5a667c;
}
.case-center-borrowerName i {
    display: inline-block;
    width: 0.14rem;
    height: 0.16rem;
    background: url("../images/icon-borrower.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 0.05rem;
}
.case-center-borrowerDate {
    margin-left: 0.69rem;
    font-size: 0.16rem;
    text-align: center;
    color: #5a667c;
}
.case-center-borrowerDate i {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    background: url("../images/icon-clock-grown.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 0.05rem;
}
.case-center-add {
    margin-top: 0.11rem;
    width: 2.8rem;
}
.case-center-date {
    margin-top: 0.1rem;
}
.case-center-add,.case-center-date {
    margin-left: 0.16rem;
    font-size: 0.13rem;
    color: #5a667c;
}
.case-center-bule {
    color: #339df5;
}
.case-center-borrowerDate .case-center-bule {
    margin: 0 0.07rem;
}
.case-center-date .case-center-bule {
    margin: 0 0.03rem 0 0.02rem;
}


.case-bottom-btn {
    font-size: 0.17rem;
    border-radius: 0.02rem;
    border: solid 1px #339df5;
}
.left-btn {
    width: 1.46rem;
    height: 0.47rem;
    margin: 0.25rem 0 0 0.25rem;
    color: #339df5;
    background-color: #fff;
}
.right-btn {
    width: 1.46rem;
    height: 0.47rem;
    margin: 0.25rem 0.25rem 0 0;
    background-color: #339df5;
    color: #ffffff;
}

.case-in-one,.case-in-two {
    width: 3.75rem;
    background-color: #fff;
    padding-bottom: 0.2rem;
}
.case-begin-one,.case-in-one,.case-end-one {
    margin-bottom: 0.08rem;
}

.case-end-one,.case-end-two {
    width: 3.75rem;
    height: 1.71rem;
    background-color: #fff;
}
.case-center-succee {
    width: 0.72rem;
    height: 0.62rem;
    background: url("../images/succee.png") no-repeat;
    background-size: contain;
}
.case-center-fall {
    width: 0.72rem;
    height: 0.62rem;
    background: url("../images/fall.png") no-repeat;
    background-size: contain;
}

/*待接单没有合适任务的情况*/
.case-begin-noting {
    background-color: #fff;
    height: 5.55rem;
    display: none;
}
.case-begin-noting > .case-status2 {
    padding: 0.39rem 0 0 1.03rem;
}
.case-status2 i {
    display: block;
    width: 1.84rem;
    height: 1.54rem;
    background: url("../images/noting.png") no-repeat;
    background-size: contain;
}
.case-status2 > p {
    margin-top: 0.27rem;
    width: 1.84rem;
    height: 0.26rem;
    font-size: 0.19rem;
    text-align: center;
    color: #133c8b;
}
.case-status2 div p {
    padding: 0 0.25rem;
    width: 1.38rem;
    font-size: 0.15rem;
    font-weight: 300;
    text-align: center;
    color: #133c8b;
}
.case-status2 div p:first-child {
    margin-top: 0.07rem;
}
.case-status2 div p:last-child {
    padding: 0 0.15rem;
}
.case-status2 div p a {
    color: #339df5;
}
.case-status2-btn {
    width: 1.64rem;
    height: 0.43rem;
    font-size: 0.17rem;
    border-radius: 2px;
    border: solid 1px #339df5;
    color: #339df5;
    margin: 0.84rem 0 0 0.09rem;
    background-color: #fff;
}



/*佣金部分 E*/


/*侧边栏 B*/
.sidebar-layer {
    width: 3.75rem;
    height: 6.27rem;
    z-index: 99;
    position: absolute;
    top: 0;
    left: -3.75rem;
}

.sidebar {
    width: 2.9rem;
    height: 6.27rem;
    background-image: linear-gradient(340deg, rgba(44,151,240,0.9), rgba(19,73,176,0.9));
}

.exit-sidebar {
    width: 0.85rem;
    height: 6.27rem;
}

.sidebar .user {
    margin: 0.32rem 0 0 0.25rem;
}
.sidebar .user-photo img {
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 50%;
}
.sidebar .user-name {
    margin: 0.26rem 0 0 0.135rem;
    font-size: 0.19rem;
    color: #ffffff;
}
.sidebar .user-arr {
    width: 0.11rem;
    height: 0.19rem;
    margin: 0.25rem 0.22rem 0 0;
    background: url("../images/user-arr.png") no-repeat;
    background-size: contain;
}

.sidebar .money-info {
    margin: 0.23rem 0 0 0.23rem;
    color: #ffffff;
    font-size: 0.13rem;
}
.sidebar .money-info span {
    color: #ffffff;
    font-size: 0.18rem;
}

.user-nav {
    margin: 0.34rem 0 0 0.24rem;
    color: #ffffff;
    font-size: 0.15rem;
}

.user-nav li {
    line-height: 0.51rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.22);
}
.user-nav li a {
    color: #ffffff;
}
.user-nav-icon {
    display: inline-block;
    width: 0.245rem;
    height: 0.24rem;
    vertical-align: middle;
    margin-top: -0.04rem;
    margin-right: 0.1rem;
}
.user-nav li .icon1 {
    background: url("../images/icon-case.png") no-repeat;
    background-size: contain;
}
.user-nav li .icon2 {
    background: url("../images/oval-10.png") no-repeat;
    background-size: contain;
}
.user-nav li .icon3 {
    background: url("../images/rectangle-13.png") no-repeat;
    background-size: contain;
}
.user-nav li .icon4 {
    background: url("../images/rectangle-16.png") no-repeat;
    background-size: contain;
}
.user-nav li .icon5 {
    background: url("../images/icon-gift.png") no-repeat;
    background-size: contain;
}
.user-nav li .icon6 {
    background: url("../images/polygon-2.png") no-repeat;
    background-size: contain;
}

/*侧边栏 E*/