/*头部 B*/
.head {
    width: 3.75rem;
    height: 0.44rem;
    background-color: #133c8b;
}
.head-arr {
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0 0 0.21rem;
    background: url("../images/icon-close.png") no-repeat;
    background-size: contain;
}
.head-info {
    margin: 0.11rem 0 0 0.82rem;
    width: 1.21rem;
    height: 0.18rem;
    font-size: 0.19rem;
    text-align: center;
    color: #ffffff;
}
/*头部 E*/

/*邀请记录 B*/
.record-title {
    width: 3.75rem;
    height: 0.5rem;
    background-color: #fff;
}
.record-title li {
    font-size: 0.16rem;
    font-weight: 500;
    text-align: center;
    color: #5a667c;
    margin-top: 0.15rem;
}
.record-title li:first-child {
    float: left;
    margin-left: 0.63rem;
}
.record-title li:last-child {
    float: right;
    margin-right: 0.63rem;
}
.record-txt {
    margin-top: 1px;
    background-color: #fff;
    width: 2.74rem;
    padding: 0 0.57rem 0.13rem 0.44rem;
    font-size: 0.13rem;
    color: #5a667c;
}
.record-txt li {
    height: 0.44rem;
    line-height: 0.44rem;
}





/*邀请记录 E*/











