/*头部 B*/
.head {
    width: 3.75rem;
    height: 1.65rem;
    background-image: linear-gradient(327deg, #2c97f0, #1b62c5 68%, #1b61c4 69%, #1550b6 91%, #1550b6 91%, #1550b6 91%, #1550b6 91%, #1349b0);
    padding-top: 0.11rem;
}
.head-top {
    margin: 0 0.2rem;
}
.head-top li:first-child {
    width: 0.24rem;
    height: 0.24rem;
    background: url("../images/user-cancel.png") no-repeat;
    background-size: contain;
}
.head-top li:nth-child(2){
    font-size: 0.19rem;
    margin-left: 1.1rem;
    color: #ffffff;
}
.head-top li:last-child {
    width: 0.24rem;
    height: 0.24rem;
}
.head-top li:last-child a {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    background: url("../images/user-home.png") no-repeat;
    background-size: contain;
}
.head-bottom {
    margin: 0.32rem 0 0 0.16rem;
}
.head-bottom-photo {
    width: 0.64rem;
    height: 0.64rem;
}
.head-bottom-photo a img {
    display: inline-block;
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 50%;
}
.head-bottom-info {
    margin: 0.08rem 0 0 0.23rem;
    color: #ffffff;
    width: 2.4rem;
}
.head-bottom-info span:first-child {
    font-size: 0.19rem;
    margin-right: 0.18rem;
}
.head-bottom-info span:last-child i {
    display: inline-block;
    width: 0.11rem;
    height: 0.16rem;
    background: url("../images/icon-iphone.png") no-repeat;
    background-size: contain;
}
.head-bottom-info div:last-child {
    margin-top: 0.07rem;
}
.head-bottom-info-add a {
    color: #ffffff;
}
.head-bottom-info-add i {
    display: inline-block;
    width: 0.12rem;
    height: 0.1rem;
    background: url("../images/combined-add.png") no-repeat;
    background-size: contain;
}
.head-bottom-info-had {
    display: none;
}
.head-bottom-info-had span {
    margin-top: 0.1rem;
}
/*头部 E*/


/*业绩信息 B*/
.info {
    width: 3.75rem;
    height: 4.43rem;
    background: #fff;
    margin-top: 0.08rem;
    position: relative;
    overflow: hidden;
}
.info-byuan {
    width: 0.56rem;
    height: 0.56rem;
    background-color: #d0d5df;
    position: absolute;
    top: -0.32rem;
    left: 50%;
    margin-left: -0.28rem;
    border-radius: 50%;
}
.info-test {
    margin: 0.52rem 0 0 0.35rem;
}
.info-test li {
    margin-bottom: 0.2rem;
}
.info-test li s {
    color: #339df5;
}
.info-test li span{
    color: #f13f1a;
}
.info-test li i {
    display: inline-block;
    vertical-align: middle;
}
.info-test li:first-child i {
    width: 0.15rem;
    height: 0.16rem;
    background: url("../images/icon-code.png") no-repeat;
    background-size: contain;
    margin-right: 0.11rem;
}
.info-test li:nth-child(2) i {
    width: 0.17rem;
    height: 0.16rem;
    background: url("../images/icon-code2.png") no-repeat;
    background-size: contain;
    margin-right: 0.09rem;
}
.info-test li:nth-child(3) i {
    width: 0.13rem;
    height: 0.16rem;
    background: url("../images/icon-total.png") no-repeat;
    background-size: contain;
    margin-right: 0.13rem;
}
.info-test li:nth-child(5) i {
    width: 0.15rem;
    height: 0.16rem;
    background: url("../images/icon-commission.png") no-repeat;
    background-size: contain;
    margin-right: 0.11rem;
}
.info-test li:last-child > div {
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 2px;
    background-color: #dbe1eb;
    margin-right: 0.12rem;
}
.info-test li:last-child > div > div:first-child {
    width: 0.08rem;
    height: 1px;
    margin: 0.04rem 0.02rem 0.02rem;
    background-color: #ffffff;
}
.info-test li:last-child > div > div:last-child {
    width: 0.06rem;
    height: 1px;
    margin-left: 0.02rem;
    background-color: #ffffff;
}
.info-test-line {
    width: 3.0rem;
    border-bottom: solid 0.5px #d0d5df;
}
/*业绩信息 E*/