/*头部 B*/
.head {
    width: 3.75rem;
    height: 0.44rem;
    background-color: #133c8b;
}
.head-arr {
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.1rem 0 0 0.21rem;
    background: url("../images/icon-close.png") no-repeat;
    background-size: contain;
}
.head-info {
    margin: 0.11rem 0 0 0.82rem;
    width: 1.21rem;
    height: 0.18rem;
    font-size: 0.19rem;
    text-align: center;
    color: #ffffff;
}
.head-alter {
    margin: 0.1rem 0.18rem 0 0;
    font-size: 0.17rem;
    color: #ffffff;
}
/*头部 E*/

/*拜访信息 B*/
.visit-info {
    margin: 0.25rem 0 0 0.3rem;
    width: 3.15rem;
    height: 2rem;
    border-radius: 2px;
    background-color: #F6F7F9;
    box-shadow: inset 0 0.5px 0 0 #d0d5df;
}
.visit-info textarea {
    background-color: #F6F7F9;
    margin: 0.13rem 0 0 0.15rem;
    padding: 0.05rem;
    width: 2.75rem;
    height: 1.35rem;
    font-size: 0.17rem;
    color: #adb8ce;
    border-bottom: solid 0.5px #d0d5df;
}
.visit-map {
    margin: 0.05rem 0 0 0.15rem;
    font-size: 0.16rem;
    color: #5a667c;
}
.visit-map i {
    display: inline-block;
    width: 0.18rem;
    height: 0.15rem;
    background: url("../images/oval-2.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.visit-map span {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    background: url("../images/drop-3.png") no-repeat;
    background-size: contain;
    float: right;
    margin: 0.03rem 0.1rem 0 0;
}
.visit h2 {
    margin: 0.26rem 0 0 0.36rem;
}
.visit-add {
    margin: 0.1rem 0 0 0.36rem;
    width: 0.63rem;
    height: 0.63rem;
    border: 0.01rem dotted #339df5;
    position: relative;
}
.visit-add-icon {
    width: 0.15rem;
    height: 0.15rem;
    background: url("../images/add.png") no-repeat;
    background-size: contain;
    margin: 0.15rem 0 0 0.24rem;
}
.visit-add-info {
    margin-top: 0.06rem;
    text-align: center;
    font-size: 0.12rem;
    color: #339df5;
}
.visit-add input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.63rem;
    height: 0.63rem;
    opacity: 0;
}
.visit-add img {
    width: 0.65rem;
    height: 0.65rem;
    position: absolute;
    top: -0.01rem;
    left: -0.01rem;
}
.visit-add p {
    margin-right: 0.16rem;
    padding-top: 0.45rem;
    font-size: 0.12rem;
    color: #339df5;
    position: absolute;
    right: -0.45rem;
    bottom: 0;
}







/*拜访信息 E*/